.doc-container{
  a{
    text-decoration: none;
  }
  h2 {
    @include xs{
      font-size: 30px;
    }
    @include sm {
      font-size: 50px;
    }
    font-family: 'Poppins', sans-serif, 'arial';
    font-weight: 600;
    color: black;
    text-align: center;
  }
  .doc-txt{
    font-size: 20px;
    line-height: 2.5;
  }

  padding-bottom: 50px;
}