{% extends '@EasyAdmin/layout.html.twig' %}
{% block page_title %}Admin - BJTechnoDev{% endblock %}
{% block stylesheets%}

    {{encore_entry_css_files('app')}}
{% endblock%}

{% block content %}
<div class="m-3">
    <h1 class="display-4 bold">Administration</h1>


    <p class="lead">Bienvenue dans votre espace!</p>
    <hr class="my-4">
    {{ component('doc') }}
</div>


{% endblock %}