<div class="container doc-container">
    <h2 class="text-center">Documentation :</h2>
    <p class="doc-txt text-center">
        Vous pouvez voir plusieurs onglets sur la gauche :
        <br>
        - Utilisateurs : cette onglet permet de créez des utilisateurs ⚠️seul les admin peuvent intervenir sur des utilisateurs
        <br>
        - Intervenant : cette onglet permet de créez des intervenants ⚠️seul les rh peuvent suprimmer des intervenant
        <br>
        - Accéder à vos contrat : cette onglet permet de créez ou voir les demandes de contrat avec plusieurs possibilité comme la possibilité d'exporter/importer les contrat en csv, de filtrer les contrats selon leurs etats
        <br>
        - Maquette : cette onglet permet de créez d'importer les maquettes pédagogique
    </p>
</div>