<div class="container doc-container">
    <h2 class="text-center">Documentation :</h2>
    <p class="doc-txt text-center">
        Vous pouvez voir plusieurs onglets sur la gauche :
        <br>
        <span>-</span> Utilisateurs : cet onglet permet de créer des utilisateurs, ⚠️seuls les admins peuvent intervenir
        sur des utilisateurs
        <br>
        <span>-</span> Intervenant : cet onglet permet de créer des intervenants
        <br>
        <span>-</span> Accéder à vos contrats : cet onglet permet de créer ou voir les demandes de contrat avec
        plusieurs possibilités comme la possibilité d'exporter/importer les contrats en CSV, de filtrer les contrats
        selon leurs états
        <br>
        <span>-</span> Maquette : dans ces onglets, on pourra créer les différentes classes, École, Matière et Promo.
    </p>
</div>