<div class="container doc-container">
    <h2 class="text-center">Documentation :</h2>
    <p class="doc-txt text-center">
        Pour accéder aux contrats, il faut d'abord vous connecter en cliquant <a href="{{ path('app_login') }}">ici</a> ou bien en cliquant sur l'icône tout en bas à gauche.
        <br>
        Une fois connecter une icône cadenas va apparaître il faudra cliquer dessus pour avoir accès aux contrats et a votre parti administration.
        <br>
        Pour vous déconnecter, il suffit de cliquer à nouveau sur l'icône user ou alors de cliquer sur ce <a href="{{ path('app_logout') }}">lien</a>.
        <br>
        Pour finir, si vous avez une question à nous poser, rendez-vous sur la partie <a href="{{ path('homepage') }}#contact">contact</a> ou en cliquant sur l'icône enveloppe.
    </p>
</div>